.main-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#sidebar {
	width: 200px;
	flex-wrap: wrap;
}

#edit-text {
	margin: 10px;
}

.tile-button {
	margin: 10px;
	outline-width: 3px;
	border-style: none;
}
